
.Form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3rem;

    .formTitle{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid black;
        margin-top: 1rem;
        width: 100%;
    }
    .formTitle:hover{
        cursor: pointer;
        background-color: #cecece;
    }

    .exportBtn{
        align-self: center;
        width: 6rem;
    }

    .formSection{
        display: flex;
        flex-direction: column;
        align-items: center;

        .generalInfoForm{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            border: 1px solid black;
            transition: all 500ms ease-in;
    
            input{
                margin-bottom: 1em;
            }
        }

        .generalSkillsForm{
            margin-top: 1em;
    
            .skills{
                display: flex;
            }
        }
    }


}