
.Form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3rem;

    .formDisplay{
        transition: height 0.3s ease;
        overflow: hidden;
    }

    .hidden {
        height: 0;
    }

    .displayed {
        height: 100%;
        border: 1px solid black;
        border-top: none;
    }

    .exportBtn{
        align-self: center;
        width: 6rem;
        margin-top: 1.5rem;
    }

    .formSection{
        display: flex;
        flex-direction: column;
        align-items: center;

        .formTitle{
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border: 1px solid black;
            margin-top: 1rem;
            width: 100%;
        }
        .formTitle:hover{
            cursor: pointer;
            background-color: #cecece;
        }

        .formContent{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            transition: all 500ms ease-in;
            background-color: #e4e4e4;
    
            input{
                width: 80%;
                margin: 0.7rem;
            }
        }

        .generalSkillsForm{
            margin-top: 1em;
    
            .skills{
                display: flex;
            }
        }
    }


}